:root{}

/*  */
*{
    box-sizing: border-box;
   
}

/*  */
ul{
    list-style: none;
    margin : 0;
    padding : 0;
}
a{
    text-decoration: none;
    color:black;
}
body{
    margin : 0;
    padding : 0;
    font-family: "Noto Sans KR", sans-serif;
}

/*  */
.layout-1{
    /* width : 1200px; */
    /* margin : 0 auto; */

    /* 
        1920px - 1200px = 720px
        720px/2 = 360px
        360px을 vw로 변환 = 18.75vw;
    */
    padding : 0 18.75vw;
}


/*  */
.wrapper{}
/* .wrapper *{border:1px solid;} */

/*  */
.wrapper>header{
    height : 60px;
}
.wrapper>header>.top-header{}


/* 
    02GNB START
*/
.wrapper>header>nav{
    height : 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom:1px solid; */

    position:relative;
}

.wrapper>header>nav>*{
    height:100%;
    width:100%;
    
}
.wrapper>header>nav>.left{
    width:350px;
    height:100%;
    display:flex;
    justify-content: left;
    align-items: center;
}
.wrapper>header>nav>.center{
    width:100%;
    height:100%;
    display:flex;
    justify-content: left;
    align-items: center;
    
}

.wrapper>header>nav>.center>.mainmenu{
    height:100%;
    display:flex;
    justify-content: left;
    align-items: center;
}
.wrapper>header>nav>.center>.mainmenu>li{
    height:60px;
    padding : 0 20px;
    /* border: 1px solid; */
    opacity: .8;
    
    
}
.wrapper>header>nav>.center>.mainmenu>li>a{
    display:block;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  
    
    font-size : clamp(.5rem,1.8vw,1rem);

  
}
.wrapper>header>nav>.center>.mainmenu>li:hover{
    border-bottom : 3px solid;
    opacity: 1;
}

.wrapper>header>nav>.center>.mainmenu>li>.submenu{
    /* border: 1px solid; */
    
    /* display:none; */

    visibility: hidden;
    height : 0;
    overflow :hidden;
   
    
 
        
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    background-color: beige;;
    position:absolute;
    left:0;
    top:60px;
    width:100%;

    z-index :100;
    padding-top : 20px;
    padding-bottom : 20px;

    background-color:white;
    border-top : 1px solid lightgray;
    border-bottom : 3px solid;


}
.wrapper>header>nav>.center>.mainmenu>li>.submenu>li{
    padding : 0;
    border : 1px solid;
    position:relative;
    
}
.wrapper>header>nav>.center>.mainmenu>li>.submenu>li>a{
    display:block;
   
    font-size:1rem;
    font-weight:600;
    padding:5px 0;
    display:flex;
    justify-content: left;
    align-items: start;
}

.wrapper>header>nav>.center>.mainmenu>li>.submenu>li>ul{
    position:relative;
    left:0;
    top:0px;
    width : 100%;
}
.wrapper>header>nav>.center>.mainmenu>li>.submenu>li>ul>li>a{
    display:block;
    padding:10px 0;
    font-size:.9rem;
    color:rgb(91, 90, 90);
}

.wrapper>header>nav>.center>.mainmenu:hover .submenu{
    visibility: visible;
    height : 450px;
    
    z-index:5; 
    overflow:hidden;
  
}
.wrapper>header>nav>.center>.mainmenu>li:hover .submenu{
   
}
.wrapper>header>nav>.center>.mainmenu>li:hover .submenu{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    z-index :100;
}
.wrapper>header>nav>.center>.mainmenu>li:nth-child(2):hover .submenu{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    z-index :100;
}
.wrapper>header>nav>.center>.mainmenu>li>a{
    position:relative;
}
.wrapper>header>nav>.center>.mainmenu>li>a>.material-symbols-outlined{
    font-size : 1rem;

}



.wrapper>header>nav>.right{
    width :250px;

    display:flex;
    justify-content: right;
    align-items: center;
    gap:10px;
}
/* 
    02GNB END
*/


/*  */
.wrapper>main{}
.wrapper>main>section{ 
    border:1px solid;
    margin : 50px 0px;
}

/* 
    03BANNER START
*/
.wrapper>main>section:nth-child(1){
    margin-top:0;
    position:relative;
    height:400px;
    width :100%;
    border : 0;
}
.wrapper>main>.banner>.slide-block{
    width:100%;
    height:400px;
    overflow: hidden;
}
.wrapper>main>.banner>.slide-block>.slide-wrapper{
    /* width:calc(1160px * 3); */
    width:100%;
    height:400px;

    position:relative;
    transition: .3s;
}
.wrapper>main>.banner>.slide-block>.slide-wrapper>.item{
    position:absolute;
    left:0;
    top:0;
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    width:100%;
    height:100%;
    /* transition: .5s; */

    /* border : 5px solid; */
   
}


.wrapper>main>.banner>.slide-block>.slide-wrapper>.item>.text{
   
    width:420px;
    height:400px;
    /* border : 1px solid; */
    display:flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    position:relative;
    z-index:10;
 
}

.prev{
    padding : 5px;
    /* border-right : 1px solid black; */
    cursor: pointer;

}
.prev+span{
    padding : 5px;
    margin : 0;
}
.next{
    /* border-left : 1px solid black; */
    padding : 5px;
    cursor: pointer;
}
.paging{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    /* border : 1px solid; */
    border-radius: 15px;
    background: #2C323B;


}
.paging label span{
    display:flex;
    justify-content: center;
    align-items : center;
}

.wrapper>main>.banner>.slide-block>.slide-wrapper>.item:nth-child(2)>.text{
 
}

.wrapper>main>.banner>.slide-block>.slide-wrapper>.item>.image{
    width:740px;
    height:400px;
    /* border : 1px solid; */
    position:relative;
}
.wrapper>main>.banner>.slide-block>.slide-wrapper>.item>.image>img{
    width:100%;
    height:100%;
    object-fit: cover;
    /* transform:scale(1.8); */
    position:relative;
    right:-20px;
    top:15px;
    transition: .3s;
   
}
.wrapper>main>.banner>.slide-block>.slide-wrapper>.item:nth-child(2)>.image>img{
    right:20px;
}



.wrapper>main>.banner>.slide-block>.slide-wrapper>.item:nth-child(1){
    background: #71E2D9;

}   
.wrapper>main>.banner>.slide-block>.slide-wrapper>.item:nth-child(2){

    background: #393F9D;
}

.wrapper>main>.banner>.slide-block>.slide-wrapper>.item:nth-child(3){

    background: #1C1D1D;
}


.wrapper>main>.banner>.slide-block>.slide-wrapper>.item:nth-child(2),
.wrapper>main>.banner>.slide-block>.slide-wrapper>.item:nth-child(3){
    opacity: 0;
}

.banner>.slide-block>#s1:checked~.slide-wrapper>.item:nth-child(1){
    z-index : 10;
    opacity: 1;
}
.banner>.slide-block>#s1:checked~.slide-wrapper>.item:nth-child(2){
    z-index : -1;
    opacity: 0;
    
}
.banner>.slide-block>#s1:checked~.slide-wrapper>.item:nth-child(3){
    z-index : -1;
    opacity: 0;
}

.banner>.slide-block>#s2:checked~.slide-wrapper>.item:nth-child(2){
    z-index : 10;
    opacity: 1;
}


.banner>.slide-block>#s2:checked~.slide-wrapper>.item:nth-child(1){
    z-index : -1;
    opacity: 0;
}
.banner>.slide-block>#s2:checked~.slide-wrapper>.item:nth-child(3){
    z-index : -1;
    opacity: 0;
}

.banner>.slide-block>#s3:checked~.slide-wrapper>.item:nth-child(3){
    z-index : 10;
    opacity: 1;
}
.banner>.slide-block>#s3:checked~.slide-wrapper>.item:nth-child(1){
    z-index : -1;
    opacity: 0;
}
.banner>.slide-block>#s3:checked~.slide-wrapper>.item:nth-child(2){
    z-index : -1;
    opacity: 0;
}

.banner input[type="radio"]{
    display: none;
}

.banner>.slide-block>#s1:checked~.slide-wrapper .item:nth-child(1)>.image>img{
    right:0px;
    opacity: 1;
}
.banner>.slide-block>#s2:checked~.slide-wrapper .item:nth-child(2)>.image>img{
    right:0px;
    opacity: 1;
}
.banner>.slide-block>#s3:checked~.slide-wrapper .item:nth-child(3)>.image>img{
    right:0px;
    opacity: 1;
}



@keyframes moving {
    from{margin-top:50px; opacity: 0;}
    to{margin-top:0px; opacity: 1;}
}

.one{
    font-size : .8rem;
    font-size : clamp(.5rem,1vw,1rem);
    position:absolute;
    top:5vh;
    color : white;
}
.two{
    font-size : clamp(1rem,2vw,1.6rem);
    font-weight:600;
    position:absolute;
    top:10vh;
    color : white;
}
.three{
    font-size : clamp(1rem,2vw,1.6rem);
    font-weight:600;
    position:absolute;
    top:15vh;
    color : white;  
}
.four{

    font-size : clamp(.5rem,1.7vw,1rem);

    font-weight:400;

    position:absolute;
    top:20vh;
    color : white;
}

.wrapper>main>.banner>.slide-block>.slide-wrapper>.item>.text>div{
    position:absolute;
    bottom : 80px;
    color : white;
}
.banner>.slide-block>#s1:checked~.slide-wrapper>.item:nth-child(1)>.text div.one{
    animation-name:moving;
    animation-duration: .5s;
   
}
.banner>.slide-block>#s1:checked~.slide-wrapper>.item:nth-child(1)>.text div.two{
    animation-name:moving;
    animation-duration: .5s;
    animation-delay:.2s;
}
.banner>.slide-block>#s1:checked~.slide-wrapper>.item:nth-child(1)>.text div.three{
    animation-name:moving;
    animation-duration: .5s;
    animation-delay:.3s;

}
.banner>.slide-block>#s1:checked~.slide-wrapper>.item:nth-child(1)>.text div.four{
    animation-name:moving;
    animation-duration: .5s;
    animation-delay:.4s;

}


.banner>.slide-block>#s2:checked~.slide-wrapper>.item:nth-child(2)>.text div.one{
    animation-name:moving;
    animation-duration: .5s;
}
.banner>.slide-block>#s2:checked~.slide-wrapper>.item:nth-child(2)>.text div.two{
    animation-name:moving;
    animation-duration: .5s;
    animation-delay:.2s;
}
.banner>.slide-block>#s2:checked~.slide-wrapper>.item:nth-child(2)>.text div.three{
    animation-name:moving;
    animation-duration: .5s;
    animation-delay:.3s;
}
.banner>.slide-block>#s2:checked~.slide-wrapper>.item:nth-child(2)>.text div.four{
    animation-name:moving;
    animation-duration: .5s;
    animation-delay:.4s;
}

.banner>.slide-block>#s3:checked~.slide-wrapper>.item:nth-child(3)>.text div.one{
    animation-name:moving;
    animation-duration: .5s;
}
.banner>.slide-block>#s3:checked~.slide-wrapper>.item:nth-child(3)>.text div.two{
    animation-name:moving;
    animation-duration: .5s;
    animation-delay:.2s;
}
.banner>.slide-block>#s3:checked~.slide-wrapper>.item:nth-child(3)>.text div.three{
    animation-name:moving;
    animation-duration: .5s;
    animation-delay:.3s;
}
.banner>.slide-block>#s3:checked~.slide-wrapper>.item:nth-child(3)>.text div.four{
    animation-name:moving;
    animation-duration: .5s;
    animation-delay:.4s;
}
/* 
    03BANNER END
*/


/* 
    02SECTION START
*/
.wrapper>main>section:nth-child(2){
    height : 150px;
  
    border : 0px;
}
.wrapper>main>section:nth-child(2)>ul{
    height : 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.wrapper>main>section:nth-child(2)>ul>li{
    width : 80px;
    height : 80px;
    min-width : 80px;
    min-height : 80px;
    border-radius: 15px;
    border:1px solid lightgray;
    position:relative;
}
.wrapper>main>section:nth-child(2)>ul>li:hover{
    background-color: rgb(245, 244, 244);;
}

.wrapper>main>section:nth-child(2)>ul>li>a{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.wrapper>main>section:nth-child(2)>ul>li::after{
    content:"";
   
    height:25px;
    width:180%;
    /* border : 1px solid; */
    margin-top : 10px;
    font-size :1rem;

    display:flex;
    justify-content: center;
    align-items: center;

    position:absolute;
    bottom:-30px;
    left:-30px;
}
.wrapper>main>section:nth-child(2)>ul>li:nth-child(1)::after{
    content:"무료 국비 강의"
}
.wrapper>main>section:nth-child(2)>ul>li:nth-child(2)::after{
     content:"코딩 테스트 문제"
}
.wrapper>main>section:nth-child(2)>ul>li:nth-child(3)::after{
      content:"수강 중인 강의"
}
.wrapper>main>section:nth-child(2)>ul>li:nth-child(4)::after{
      content:"채용 공고"
}
.wrapper>main>section:nth-child(2)>ul>li:nth-child(5)::after{
      content:"채용 프로그램"
}
.wrapper>main>section:nth-child(2)>ul>li:nth-child(6)::after{
      content:"스킬체크"
}
.wrapper>main>section:nth-child(2)>ul>li:nth-child(7)::after{
     content:"코딩인증역량시험"
}

.wrapper>main>section:nth-child(2)>ul>li>a>span{}

/* 
    02SECTION END
*/



/* 
    03SECTION START
*/
.wrapper>main>section h2{
    font-size : 26px;
    font-weight: 600;
}
.wrapper>main>section h3{
    font-size : 18px;
    font-weight: 600;
}
.wrapper>main>section>.head
{
    margin-bottom:20px;
  
}

.wrapper>main>section>.head>.right{
    display:flex;
    justify-content: right;
    align-items: center;
}
.wrapper>main>section:nth-child(3){
    /* height : 1080px; */
    border : 0;
}
.wrapper>main>section:nth-child(3)>.head{
    height : 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}
.wrapper>main>section:nth-child(3)>.head>.left{}
.wrapper>main>section:nth-child(3)>.head>.right{

}

.wrapper>main>section:nth-child(3)>.body{
    height : 1030px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}


.wrapper>main>section:nth-child(3)>.body>.item{
    width : 100%;
    min-width:300px;
    max-height :450px;
    
    
    border-radius: 15px;
    border:1px solid;
    

}
.wrapper>main>section:nth-child(3)>.body>.item>.top{
    height:50%;
    background: #000000;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.wrapper>main>section:nth-child(3)>.body>.item>.top>img{
    width:100%;
    height:100%;
    object-fit: contain;
    
}

.wrapper>main>section:nth-child(3)>.body>.item>.bottom{
    padding : 20px;
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.title{}

.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.info{
    padding : 15px 0;
    padding-bottom : 30px;
    border-bottom : 1px solid lightgray;
   
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.info>span{
    font-size:clamp(.5rem,.7vw,.8rem);

    margin-right:.5vw;
    padding:5px;
    font-weight:600;
    background-color: lightgrey;
    border-radius: 5px;
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.info>span:nth-child(1){
    color: #0078ff;
    background-color: #ebf5ff;
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.info>span:nth-child(2){
    color: #ff850a;
    background-color: #fff7de;
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.info>span:nth-child(3){
    color: #3ab03f;
    background-color: #ebfae8;
}



.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.foot{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding :15px 0px;
    padding-top : 30px;
    height : 100%;
   
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.foot>.price{
    font-size:16px;font-weight:600;
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.foot>.star{
    background-color: lightgray;
    padding:5px;
    font-size:.8rem;
    color:white;
    border-radius: 5px;
}



.wrapper>main>section:nth-child(4){
    border : 0;
}
.wrapper>main>section:nth-child(4)>.head{
    height : 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper>main>section:nth-child(4)>.head>.left{}
.wrapper>main>section:nth-child(4)>.head>.right{}

.wrapper>main>section:nth-child(4)>.body{
    height : 500px;
    display:flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap:wrap;

    gap:32px;
}
.wrapper>main>section:nth-child(4)>.body>.item{
    width : calc(100%/2 - 32px);
    height : 100%;
    border:1px solid;
}


.wrapper>main>section:nth-child(5){
  border : 0;
}

.wrapper>main>section:nth-child(5)>.head{
    height : 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper>main>section:nth-child(5)>.head>.left{}
.wrapper>main>section:nth-child(5)>.head>.right{}

.wrapper>main>section:nth-child(5)>.body{
    height : 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
.wrapper>main>section:nth-child(5)>.body>.item{
    width :100%;
    height : 100%;
    border-radius: 15px;
    border:1px solid;
}






/*  */
.wrapper>footer{
    height : 300px;
    border-top : 1px solid;
}